*.ipynb_checkpoints
*.ipynb

*.coverage

*.hdf5

dataset/
notebooks/

__pycache__
*.pyc

example/examples_pictures/
example/sample_dashed/
example/sample_simple/
example/my_dataset/
examples/examples_pictures/
examples/sample_dashed/
examples/sample_simple/
examples/my_dataset/

ground_pics/
